<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463273095625-3kq7lkjq51gljjuhinsdvdonb07p6saa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463273095625-3kq7lkjq51gljjuhinsdvdonb07p6saa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463273095625-rjrln9i0j7t1fhvmi733tshpmn0cqd7o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWLZoTNSqSKcC_5ZRWpBIJBj8-FtFKPU</string>
	<key>GCM_SENDER_ID</key>
	<string>463273095625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rbcAtted</string>
	<key>PROJECT_ID</key>
	<string>rbc-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>rbc-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463273095625:ios:4a3c9c7a375c7060437818</string>
</dict>
</plist>